project:
  type: book
  output-dir: docs
  resources:
    - CNAME

book:
  title: "Genomic Foundation Models"
  author: "Josh Meehl"
  date: "12/1/2025"
  page-footer: "Copyright 2025, Josh Meehl" 
  chapters:
    - index.qmd
    - preface.qmd
    - part: "Part I: Data & Pre-DL Methods"
      chapters:
        - ch-p1-ngs.qmd
        - ch-p1-prs.qmd
        - ch-p1-cadd.qmd
        - ch-p1-data.qmd
    - part: "Part II: CNN Seq-to-Function Models"
      chapters:
        - ch-p2-reg.qmd
        - ch-p2-transc.qmd
        - ch-p2-splice.qmd
    - part: "Part III: Transformers Models"
      chapters:
        - ch-p3-tokens.qmd    
        - ch-p3-plm.qmd    
        - ch-p3-glm.qmd    
        - ch-p3-hybrid.qmd    
    - part: "Part IV: GFMs & Multi-omics"
      chapters:
        - ch-p4-principles.qmd    
        - ch-p4-vep.qmd    
        - ch-p4-omics.qmd    
        - ch-p4-confound.qmd    
        - ch-p4-interp.qmd    
    - part: "Part V: Applications"
      chapters:
        - ch-p5-clinical.qmd
        - ch-p5-variants.qmd
        - ch-p5-drugs.qmd
  appendices:
    - app-dl.qmd
  references: references.qmd

# csl: nature.csl
bibliography: references.bib

format:
  html:
    # search: true
    theme:
      - cosmo
      - brand
    css: styles.css
    grid:
      sidebar-width: 300px
  # pdf:
  #   documentclass: scrreprt



