project:
  type: book
  resources:
    - CNAME

book:
  title: "Genomic Foundation Models"
  author: "Josh Meehl"
  date: "12/1/2025"
  chapters:
    - index.qmd
    - intro.qmd
    - summary.qmd
    - part: "Part I: Foundations"
      chapters:
        - ch01.qmd
        - ch02.qmd
    - part: "Part II: Applications"
      chapters:
        - ch03.qmd
        - ch04.qmd
    - part: "Part III: Advanced Topics"
      chapters:
        - ch05.qmd
        - ch06.qmd
    - part: "Part IV: Case Studies"
      chapters:
        - ch07.qmd
        - ch08.qmd    
    - references.qmd

bibliography: references.bib

format:
  html:
    theme:
      - cosmo
      - brand
  pdf:
    documentclass: scrreprt



