project:
  type: book
  output-dir: docs
  resources:
    - CNAME

profile:
  default: draft
  group:
    - [draft, final]

book:
  title: "Genomic Foundation Models"
  author: "Josh Meehl"
  date: "12/1/2025"
  page-footer: "Copyright 2025, Josh Meehl" 
  chapters:
    - index.qmd
    - preface.qmd
    - part: "Part I: Data & Pre-DL Methods"
      chapters:
        - p1-ch01-ngs.qmd #sec-ngs
        - p1-ch02-data.qmd #sec-data
        - p1-ch03-pgs.qmd #sec-pgs
        - p1-ch04-cadd.qmd #sec-cadd
    - part: "Part II: CNN Seq-to-Function Models"
      chapters:
        - p2-ch05-reg.qmd #sec-reg
        - p2-ch06-transc.qmd #sec-trans
        - p2-ch07-splice.qmd #sec-splice
    - part: "Part III: Transformers Models"
      chapters:
        - p3-ch08-tokens.qmd #sec-token   
        - p3-ch09-plm.qmd #sec-prot    
        - p3-ch10-glm.qmd #sec-dna   
        - p3-ch11-hybrid.qmd #sec-hybrid   
    - part: "Part IV: GFMs & Multi-omics"
      chapters:
        - p4-ch12-principles.qmd #sec-princ  
        - p4-ch13-vep.qmd #sec-veps    
        - p4-ch14-omics.qmd #sec-multi
    - part: "Part V: Reliability & Interpretation"    
      chapters:
        - p5-ch15-eval.qmd #sec-eval
        - p5-ch16-confound.qmd #sec-confound    
        - p5-ch17-interp.qmd #sec-interp    
    - part: "Part VI: Applications"
      chapters:
        - p6-ch18-clinical.qmd #sec-clinical
        - p6-ch19-variants.qmd #sec-variants
        - p6-ch20-drugs.qmd #sec-drugs
  appendices:
    - app-a-dl.qmd #sec-apx-dl
    - app-b-resources.qmd #sec-apx-resources
    - app-c-glossary.qmd #sec-apx-glossary
  references: references.qmd

# csl: nature.csl
bibliography: references.bib

format:
  html:
    # search: true
    theme:
      light: 
        - cosmo
        - brand
      dark: 
        - darkly
    css: styles.css
    grid:
      sidebar-width: 300px
  # pdf:
  #   documentclass: scrreprt



